/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	background: url(paperbg.png)
}

.lift{
margin-top:40px;	
}

.padit{
	padding:10px;
}

.padbox{
	margin-bottom:20px;
	margin-right:10px;
	background-color:#ffffff;
}

.rightbar{
	background: url(formbg1.png)
}

.buttonpad{

	margin:10px;
}
.tag1 { font-size: 1.0em; }
  .tag2 { font-size: 1.6em; }
  .tag3 { font-size: 2.7em; }
  .tag4 { font-size: 3.8em; }

.btn-danger{
	color:#ffffff;
} 

.centre{
	text-align:center;
} 

.content{
	background-color: #ffffff;
	  display: block;
  padding: 10px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.topbar{
	width: 100%;
	background: url('topbar.png');
}

